<!-- BEGIN header_link -->
<div align="center">
	<a href="{U_HEADER_LINK}">{HEADER_LINK}</a><br /><br />
</div>
<!-- END header_link -->

<table border="0" cellpadding="3" cellspacing="1" align="center" width="80%" class="headline">
	<tr>
		<th class="thHead">
				<b>{ERROR_TITLE}</b>
		</th>
	</tr>
	<tr>
		<td class="row1" valign="top">
			<!--<div align="center">
				<b>{ERROR_TITLE}</b><br /><br />
			</div>-->
			<div align="center">
				<br />{ERROR_MESSAGE}<br /><br />
			</div>
		</td>
	  </tr>
</table>
