<table class="t1" border="0"  cellpadding="3" cellspacing="1">
	<tr>
		<th colspan="2">{L_VIEW_POSTS}</th>
	</tr>
<!-- BEGIN posts -->
	<tr class="tr1">
		<td class="td{posts.TEMPLATE_CLASS_1}"><b>{posts.USERNAME}</b><br />{posts.DATE_FORMAT}<br /><br />
			<!-- BEGIN switch_email -->
			<a href="mailto:{posts.U_EMAIL}" target="_blank"><img src="styles/imagesets/soscy/email.png" alt="E-Mail Adresse" border="0" /></a>
			<!-- END switch_email -->
			<!-- BEGIN switch_icq -->
			&nbsp;<a href="{posts.U_ICQ}" target="_blank"><img src="styles/imagesets/soscy/icq.png" alt="ICQ Nummer" border="0" /></a>
			<!-- END switch_icq -->
			<!-- BEGIN switch_www -->
			&nbsp;<a href="{posts.U_WWW}" target="_blank"><img src="styles/imagesets/soscy/www.png" alt="Webseite" border="0" /></a>
			<!-- END switch_www -->
		</td>
		<td class="td{posts.TEMPLATE_CLASS_2}">
			{posts.MESSAGE}
			<!-- BEGIN switch_comment -->
			<br /><br /><b>Kommentar von {posts.COMMENT_USERNAME}:</b><br />
			{posts.COMMENT_TEXT}
			<!-- END switch_comment -->
		</td>
	</tr>
<!-- END posts -->
</table>
