<!-- BEGIN valdiate_error -->
<table border="0" cellpadding="3" cellspacing="1" align="center" width="80%" class="headline">
	<tr>
		<th class="thHead">
				<b>{ERROR_TITLE}</b>
		</th>
	</tr>
	<tr>
		<td class="row1" valign="top">
			<div align="center">
				<br />{ERROR_MESSAGE}<br /><br />
			</div>
		</td>
	  </tr>
</table><br /><br />
<!-- END valdiate_error -->

<form name="qGuestbook" action="{U_POSTING}?mode=insert" method="post">
	<table border="0" cellpadding="3" cellspacing="1" align="center" width="80%" class="headline">
		<tr>
			<th class="thHead" colspan="2">
				<b>{L_WRITE_NEW}</b>
			</th>
		</tr>
	<tr>
		<td class="row1" valign="top" colspan="2">
			<span class="gensmall" style="text-align: left;">
				<a href="./index.php">{L_BACK_GUESTBOOK}</a>
			</span>
		</td>
	</tr>
		<tr>
			<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
				<b>{L_NAME}:</b>
			</td>
			<td class="row2" valign="top" style="vertical-align: middle;">
				<input type="text" name="name" value="{NAME}" maxlength="255" size="40" />
			</td>
		</tr>
		<tr>
			<td class="row1" valign="top" width="22%" style="vertical-align: middle;">
				<b>{L_EMAIL}:</b>
			</td>
			<td class="row1" valign="top" style="vertical-align: middle;">
				<input type="text" name="email" value="{EMAIL}" maxlength="255" size="40"  />
			</td>
		</tr>
		<tr>
			<td class="row2" valign="top" width="22%" height="28" style="vertical-align: middle;">
				<b>{L_HIDE_EMAIL}:</b>
			</td>
			<td class="row2" valign="top" style="vertical-align: middle;">
				<input type="checkbox" name="hide_email" value="1" checked="checked" /> {L_HIDE_EMAIL_YES}
			</td>
		</tr>
		<!-- BEGIN icq_enabled -->
		<tr>
			<td class="row1" valign="top" width="22%" style="vertical-align: middle;">
				<b>{L_ICQ}:</b>
			</td>
			<td class="row1" valign="top" style="vertical-align: middle;">
				<input type="text" name="icq" value="{ICQ}" maxlength="255" size="40" />
			</td>
		</tr>
		<!-- END icq_enabled -->
		<!-- BEGIN www_enabled -->
		<tr>
			<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
				<b>{L_WWW}:</b>
			</td>
			<td class="row2" valign="top" style="vertical-align: middle;">
				<input type="text" name="www" value="{WWW}" maxlength="255" size="40"  />
			</td>
		</tr>
		<!-- END www_enabled -->
		<!-- BEGIN switch_dissabled -->
		<tr>
			<td class="row1" valign="top" width="22%" style="vertical-align: middle;">
				<b>{L_BBCODE}</b>
			</td>
			<td class="row1" valign="top" style="vertical-align: middle;">
				<input type="button" value="Fett" onClick="insert('[b]', '[/b]')" />
				<input type="button" value="Unterstrichen" onClick="insert('[u]', '[/u]')" />
				<input type="button" value="Kursiv" onClick="insert('[k]', '[/k]')" />
			</td>
		</tr>
		<!-- END switch_dissabled -->
		<tr>
			<td class="row1" valign="top" style="width: 20%;">
				<b>{L_MESSAGE}:</b><br /><br />
					<ul type="square">
						<li><a href="popup.php?mode=smilies" onclick="window.open('popup.php?mode=smilies', '_smilies', 'HEIGHT=280,resizable=yes,scrollbars=yes,WIDTH=350');return false;"><b>{L_SMILIES}</b></a>: {SMILIES_STATUS}</li>
						<li><a href="popup.php?mode=bbcodes" onclick="window.open('popup.php?mode=bbcodes', '_smilies', 'HEIGHT=280,resizable=yes,scrollbars=yes,WIDTH=350');return false;"><b>{L_BBCODE}</b></a>: {BBCODE_STATUS}</li>
						<li><b>{L_HTML}</b>: {HTML_STATUS}</li>
					</ul>
			<br />
			</td>
			<td class="row1" valign="top" style="width: 80%;">
				<textarea name="textarea" rows="10" cols="60">{TEXTAREA}</textarea>
			</td>
		</tr>
		<!-- BEGIN captcha_enabled -->
		<tr>
			<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
				<b>{CAPTCHA_TITLE}:</b>
			</td>
			<td class="row2" valign="top" style="vertical-align: middle;">
				{CAPTCHA_QUESTION}:&nbsp;&nbsp;
				<input type="hidden" value="{CAPTCHA_CHECKSUM}" name="captcha_checksum" />
				<input type="text" value="" name="captcha_sum" maxlength="5" size="5"  />
			</td>
		</tr>
		<!-- END captcha_enabled -->
		<tr style="border-bottom: none;">
			<td class="row1" valign="top" width="22%" style="vertical-align: middle;">
				&nbsp;
			</td>
			<td class="row1" valign="top" style="vertical-align: middle;">
				<input type="submit" value="In das Gästebuch eintragen" name="submit" />
			</td>
		</tr>
	</table>
</form>
