<div align="center">
	<h3>Datenbank Wartung</h3>
	<p>Hier kannst du die SQL Tabellen von qGuestbook aufräumen und optimieren.</p>
</div>


<table border="0" cellpadding="3" cellspacing="1" align="center" width="80%" class="headline">
	<tr>
		<th class="thHead" colspan="2">
			<b>Tabellen optimieren</b>
		</th>
	</tr>
	<tr>
		<td class="row1" valign="top" colspan="2">
			<span class="gensmall">Hier können sie ein BackUp erstellen um ihre Daten zu sichern.</span>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top"  width="22%"><b>Tabellen:</b></td>
		<td class="row2" valign="top">
			<table border="0">
				<tr><td><input type="checkbox" name="tab_1" checked="checked"  value="qgb_posts" /></td> <td>qgb_posts</td> </tr>
				<tr><td><input type="checkbox" name="tab_7" checked="checked" value="qgb_user" /></td> <td>qgb_user</td> </tr>
			</table>
			<br />
			<table border="0" align="left">
				<tr>
					<td><b>Achtung:</b> Feature noch nicht implementiert!</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="row1" valign="top" width="22%">
			&nbsp;
		</td>
		<td class="row1" valign="top" >
			<input type="hidden" name="max_num" value="6" />
			<input type="submit" name="datenbank_optimize" value="Tabellen optimieren" />
		</td>
	</tr>
</table>