<div align="center">
	<h2>Massen Email</h2>
	<p>Auf dieser Seite kannst du Massen Emails versenden.</p>
</div>

<form method="post" action="{S_USER_ACTION}">
<table border="0" cellpadding="3" cellspacing="1" align="center" width="80%" class="headline">
	<tr>
		<th class="thHead" colspan="2">
			<b>Massen Email versenden</b>
		</th>

	</tr>
	<tr>
		<td class="row2" valign="top" colspan="2">
			<span class="gensmall">Hier kannst du Massen Emails versenden.</span>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top">
			Betreff:
		</td>
		<td class="row2" valign="top">
			<input type="text" name="subject" />
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top">
			Empfänger:
		</td>
		<td class="row2" valign="top">
			<select name="email" style="width: 160px;">
				<option value="1">An den Administrator</option>
				<option value="2">An alle Moderatoren</option>
			</select>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top">
			Text:
		</td>
		<td class="row2" valign="top">
			<span class="gen"> <textarea name="message" rows="15" cols="35" wrap="virtual" style="width:450px" tabindex="3" class="post">{MESSAGE}</textarea></span>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top">
			Abschicken:
		</td>
		<td class="row2" valign="top">
			<input type="submit" name="submit" value="Abschicken" />
		</td>
	</tr>
	</table>
</form>
