<div align="center">
	<h3>Aktuelle Gästebuch Statistik</h3>
	<p>Hier kannst du die aktuelle Statistik deines Gästebuchs einsehen.</p>
</div>

<table border="0" cellpadding="3" cellspacing="1" align="center" width="80%" class="headline">
<tr>
  <th class="thHead" colspan="2">
    <b>{L_STATISTIC_TITLE}</b>
  </th>
</tr>

<tr>
  <td class="row1" valign="top" colspan="2">
    <span class="gensmall">{L_STATISTIC_DESC}</span>
  </td>

</tr>
	<tr>
		<td class="row2" valign="top" width="22%"><b>Anzahl von Einträgen: <!--{L_POSTS_COUNT}--></b></td>
		<td class="row2" valign="top">{POSTS_COUNT}</td>
	</tr>
	<tr>
		<td class="row1" valign="top" width="22%"><b>{L_WAIT_LIST}</b></td>
		<td class="row1" valign="top">{WAIT_LIST}</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%"><b>Einträge pro Tag:</b></td>
		<td class="row2" valign="top">{POSTS_PER_DAY}</td>
	</tr>
	<tr>
		<td class="row1" valign="top" width="22%"><b>Anzahl von Benutzer:</b></td>
		<td class="row1" valign="top">{USERS_COUNT}</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%"><b>Benutzer Online:<!--{USERS_ONLINE}:--></b></td>
		<td class="row2" valign="top">{USERS_ONLINE}</td>
	</tr>
	<tr>
		<td class="row1" valign="top" width="22%"><b>Gästebuch installiert:</b></td>
		<td class="row1" valign="top">{START_DATE}</td>
	</tr>
<tr>
  <th class="thHead" colspan="2">
    <b>{L_SECURITY_TITLE}</b>
  </th>
</tr>
	<tr>
		<td class="row1" valign="top" colspan="2">
			<span class="gensmall">{L_SECURITY_DESC}</span>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%"><b>qGuestbook Version:</b></td>
		<td class="row2" valign="top">{VERSION}</td>
	</tr>
	<tr>
		<td class="row1" valign="top" width="22%"><b>PHP Version:</b></td>
		<td class="row1" valign="top">{PHP_VERSION}</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%"><b>Datenbank-Server:</b></td>
		<td class="row2" valign="top">{SQL_SERVER}</td>
	</tr>
	<tr>
		<td class="row1" valign="top" width="22%"><b>Register Globals:</b></td>
		<td class="row1" valign="top">{REGISTER_GLOBALS}</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%"><b>Safe Mode:</b></td>
		<td class="row2" valign="top">{SAFE_MODE}</td>
	</tr>
	<tr>
		<td class="row1" valign="top" width="22%"><b>Magic Quotes GPC:</b></td>
		<td class="row1" valign="top">{MAGIC_QUOTES_GPC}</td>
	</tr>
</table>

