<form name="guestbook" action="{ROOT_DIR}admin/login.php" method="post">
	<table border="0" cellpadding="3" cellspacing="1" align="center" width="50%" class="headline">
		<tr>
			<th class="thHead" colspan="2" style="vertical-align: middle;">
				<b>{L_LOGIN}</b>
			</th>
		</tr>
		<tr>
			<td class="row1" valign="top" colspan="2" style="vertical-align: middle;">
				<span class="gensmall">{L_LOGIN_DESC}</span>
			</td>
		</tr>
		<tr>
			<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
				<b>{L_USERNAME}:</b>
			</td>
			<td class="row2" valign="top" style="vertical-align: middle;">
				<input type="text" name="user_name" maxlength="255" size="40" />
			</td>
		</tr>
		<tr>
			<td class="row1" valign="top" width="22%" style="vertical-align: middle;">
				<b>{L_PASSWORD}:</b>
			</td>
			<td class="row1" valign="top" style="vertical-align: middle;">
				<input type="password" name="user_pass" maxlength="255" size="40" />
			</td>
		</tr>
		<tr>
			<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
				&nbsp;
			</td>
			<td class="row2" valign="top" style="vertical-align: middle;">
				<input type="submit" value="Einloggen" name="submit" />
			</td>
		</tr>
	</table>
</form>
