<form name="guestbook" action="{ROOT_DIR}admin/login.php" method="post">
	<table border="0" cellpadding="3" cellspacing="1" align="center" width="50%" class="headline">
		<tr>
			<th class="thHead" colspan="2" style="vertical-align: middle;">
				<b>Login für Team Mitglieder</b>
			</th>
		</tr>
		<tr>
			<td class="row1" valign="top" colspan="2" style="vertical-align: middle;">
				<span class="gensmall">Bitte melden Sie sich an, um zur Administration oder Moderation zu gelangen.</span>
			</td>
		</tr>
		<tr>
			<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
				<b>Benutzername:</b>
			</td>
			<td class="row2" valign="top" style="vertical-align: middle;">
				<input type="text" name="user_name" maxlength="255" size="40" />
			</td>
		</tr>
		<tr>
			<td class="row1" valign="top" width="22%" style="vertical-align: middle;">
				<b>Passwort:</b>
			</td>
			<td class="row1" valign="top" style="vertical-align: middle;">
				<input type="password" name="user_pass" maxlength="255" size="40" />
			</td>
		</tr>
		<tr>
			<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
				&nbsp;
			</td>
			<td class="row2" valign="top" style="vertical-align: middle;">
				<input type="submit" value="Einloggen" name="submit" />
			</td>
		</tr>
	</table>
</form>