<div align="center">
	<h3>Meta-Tag Verwaltung</h3>
	<p>Hier kannst du optionale Meta-Tags für Suchmaschinen usw. erstellen.</p>
</div>

<!-- BEGIN list -->
<table border="0" cellpadding="3" cellspacing="1" align="center" width="80%" class="headline">
	<tr>
		<th class="thHead" height="25" colspan="3">
			<b>Meta-Tag Verwaltung</b>
		</th>
	</tr>
	<tr>
		<td class="row1" valign="top" colspan="3">
			<span class="gensmall">Hier kannst du die aktuell eingestellen Meta-Tags des Gästebuchs einsehen.</span>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" align="center">
			<b>Name</b>
		</td>
		<td class="row2" valign="top" align="center">
			<b>Wert</b>
		</td>
		<td class="row2" valign="top" align="center">
			<b>Bearbeiten</b>
		</td>
	</tr>
<!-- BEGIN meta_tags -->
	<tr>
		<td class="row1" valign="top">
			<div align="center">
				{list.meta_tags.NAME}
			</div>
		</td>
		<td class="row1" valign="top">
			<div align="center">
				{list.meta_tags.CONTENT}
			</div>
		</td>
		<td class="row1" valign="top">
			<div align="center">
				<a href="meta.php?mode=edit&amp;t={list.meta_tags.NAME}">Bearbeiten</a>
			</div>
		</td>
	</tr>
<!-- END meta_tags -->
</table>
<br /><br />
<!-- END list -->

<table border="0" cellpadding="3" cellspacing="1" align="center" width="80%" class="headline">
	<tr>
		<th class="thHead" height="25" colspan="4">
			<b>Neuen Meta-Tag hinzufügen</b>
		</th>
	</tr>
   <tr>
    <td class="row1" valign="top" colspan="3">
      <span class="gensmall">Hier können sie einen neuen Moderator anlegen.</span>

    </td>
  </tr>
  <tr>
    <td class="row2" valign="top" width="33%" >
      <form action="{ROOT_DIR}/admin/meta.php?mode=add" method="post">
      <table border="0" cellpadding="0" cellspacing="5">
        <tr>
          <td>
      <b>Name:</b>

        </td><td>
      <input type="text" name="name" value="{NAME}" style="width: 200px;" />
        </td></tr>
        <tr><td>
      <b>Wert:</b>
        </td><td>
      <input type="text" name="content" value="{CONTENT}" style="width: 200px; " />
	<!-- BEGIN switch_edit -->
	<input type="hidden" name="update" value="1" />
	</td></tr>
	<tr><td>
	<input type="checkbox" name="delete" value="1" /> <b>Löschen</b>
	<!-- END switch_edit -->
        </td></tr>
      </table>

      <table border="0" cellpadding="0" cellspacing="5">
        <tr><td>
        </td><td>
      <input type="submit" name="submit" value="Meta-Tag erstellen" />
        </td></tr>
	</table>
	</form>
</table>