<div align="center">
	<h3>Beitrags Moderation</h3>
	<p>Hier kannst du Beiträge kommentieren, aktiveren, deaktivieren oder bearbeiten.</p>
</div>

<!-- BEGIN moderate_posts -->
<table border="0" cellpadding="3" cellspacing="1" align="center" width="80%" class="headline">
	<tr>
		<th class="thHead" colspan="2">
			<b>Beitrag moderieren</b>
		</th>
	</tr>
	<tr>
		<td class="row2" valign="top">
			<b>Benutzername:</b></td>
		<td class="row2" valign="top">
			{moderate_posts.POST_NAME}
		</td>
	</tr>
	<tr>
		<td class="row1" valign="top">
			<b>eMail Adresse:</b></td>
		<td class="row1" valign="top">
			{moderate_posts.POST_EMAIL}
		</td>
	</tr>
	<!-- BEGIN switch_www -->
	<tr>
		<td class="row2" valign="top">
			<b>Homepage:</b></td>
		<td class="row2" valign="top">
			{moderate_posts.POST_WWW}
		</td>
	</tr>
	<!-- END switch_www -->
	<!-- BEGIN switch_icq -->
	<tr>
		<td class="row1" valign="top">
			<b>ICQ Nummer:</b></td>
		<td class="row1" valign="top">
			{moderate_posts.POST_ICQ}
		</td>
	</tr>
	<!-- END switch_icq -->
	<tr>
		<td class="row2" valign="top">
			<b>IP Adresse:</b></td>
		<td class="row2" valign="top">
			{moderate_posts.POST_IP} (<a href="{moderate_posts.POST_IP_URL}" target="_blank">Whois</a>)
		</td>
	</tr>
	<tr>
		<td class="row1" valign="top">
			<b>Nachricht:</b></td>
		<td class="row1" valign="top">
			{moderate_posts.POST_TEXT}
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
			&nbsp;
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<!-- BEGIN switch_post_active -->
			<a href="moderate.php?mode=disable&amp;id={moderate_posts.POST_ID}{moderate_posts.URL_APPEND}"><img src="{IMAGE_DISABLE_POST}" alt="Deaktiveren" border="0" /></a>
			<!-- END switch_post_active -->
			<!-- BEGIN switch_post_inactive -->
			<a href="moderate.php?mode=enable&amp;id={moderate_posts.POST_ID}{moderate_posts.URL_APPEND}"><img src="{IMAGE_ENABLE_POST}" alt="Aktivieren" border="0" /></a>
			<!-- END switch_post_inactive -->
			<!-- BEGIN switch_post_waitlist -->
			<a href="moderate.php?mode=enable&amp;id={moderate_posts.POST_ID}{moderate_posts.URL_APPEND}"><img src="{IMAGE_ENABLE_POST}" alt="Aktivieren" border="0" /></a>
			<!-- END switch_post_active -->
			&nbsp;<a href="moderate.php?mode=comment&amp;id={moderate_posts.POST_ID}{moderate_posts.URL_APPEND}"><img src="{IMAGE_COMMENT_POST}" alt="Kommentieren" border="0" /></a>&nbsp;<a href="moderate.php?mode=edit&amp;id={moderate_posts.POST_ID}{moderate_posts.URL_APPEND}"><img src="{IMAGE_EDIT_POST}" alt="Bearbeiten" border="0" /></a>&nbsp;<a href="moderate.php?mode=delete&amp;id={moderate_posts.POST_ID}{moderate_posts.URL_APPEND}"><img src="{IMAGE_DELETE_POST}" alt="Löschen" border="0" /></a>&nbsp;
		</td>
	</tr>
</table>
<br /><br />
<!-- END moderate_posts -->

<div align="center">
	<p class="gensmall"><a href="moderate.php?view=waitlist">Hier</a> klicken um nur die Beiträge in der Warteliste anzuzeigen.</p>
</div>