<?xml version="1.0" encoding="{CHARSET}" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="{DIRECTION}" lang="{USER_LANG}" xml:lang="{USER_LANG}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
	<title>{SITENAME} :: {PAGE_TITLE}</title>
	<link rel="stylesheet" type="text/css" href="{STYLE_THEME}" />
	<link rel="alternate" type="application/rss+xml" title="Diese Seite abonieren..." href="{U_NEWSFEED}" />
</head>

<body bgcolor="#F8F8F8">

<div align="center">
	<h1>{SITENAME}</h1>
	<p>{SITE_DESC}</p>
</div>

<!-- BEGIN switch_logged_in -->
<table border="0" cellpadding="3" cellspacing="1" align="center" width="80%" class="headline">
	<tr>
		<th class="thHead" colspan="3">
			<b>Administration</b>
		</th>
	</tr>
	<tr>
		<td class="row2" valign="top" colspan="3">
			<span class="gensmall">Bitte waehlen Sie einen Menuepunkt aus.</span>
		</td>
	</tr>
	<tr>
		<td class="row1" valign="top" width="34%" align="center">
			<a href="{U_ADMIN_MODERATE}">Beiträge moderieren</a>
		</td>
		<td class="row1" valign="top" width="33%" align="center">
			<a href="{U_ADMIN_INDEX}">Aktuelle Statistik</a>
		</td>
		<td class="row1" valign="top" width="33%" align="center">
			<a href="{U_ADMIN_USERS}">Moderatoren Verwaltung</a>
		</td>
	</tr>
	<tr>
		<td class="row1" valign="top" width="34%" align="center">
			<a href="{U_ADMIN_DATABASE}">Datenbank Wartung</a>
		</td>
		<td class="row1" valign="top" width="33%" align="center">
			<a href="{U_ADMIN_SETTIGNS}">Konfiguration</a>
		</td>
		<td class="row1" valign="top" width="33%" align="center">
			<a href="{U_ADMIN_SMILIES}">Smilies Verwalten</a>
		</td>
	</tr>
	<tr>
		<td class="row1" valign="top" width="34%" align="center">
			<a href="{U_ADMIN_EMAIL}">Massen Email Versand</a>
		</td>
		<td class="row1" valign="top" width="33%" align="center">
			<a href="#">Benutzer sperren</a>
		</td>
		<td class="row1" valign="top" width="33%" align="center">
			<a href="{U_ADMIN_META}">Meta-Tags konfigurieren</a>
		</td>
	</tr>
	<tr>
		<td class="row1" valign="top" width="34%" align="center">
			<a href="badwords.php">Badwords</a>
		</td>
		<td class="row1" valign="top" width="33%" align="center">
			<a href="{U_INDEX}">Zurück zum Gästebuch</a>
		</td>
		<td class="row1" valign="top" width="33%" align="center">
			<a href="#">Style Einstellungen</a>
		</td>
	</tr>
	<tr>
		<td class="row1" valign="top" width="34%" align="center">
			&#160;
		</td>
		<td class="row1" valign="top" width="33%" align="center">
			&#160;<a href="{U_ADMIN_LOGOUT}"><b>Session beenden</b></a>
		</td>
		<td class="row1" valign="top" width="33%" align="center">
			&#160;
		</td>
	</tr>
</table>
<!-- END switch_logged_in -->
