<div align="center">
	<h3>Gästebuch Konfiguration</h3>
	<p>Hier kannst du die aktuelle Konfiguration deines Gästebuchs ändern.</p>
</div>

<form action="{U_ADMIN_SETTINGS}" method="post">
<table border="0" cellpadding="3" cellspacing="1" align="center" width="80%" class="headline">
	<tr>
		<th class="thHead" colspan="2">
			<b>Allgemeine Einstellungen</b>
		</th>
	</tr>
	<tr>
		<td class="row1" valign="top" colspan="2">
			<span class="gensmall">Diese Einstellungen legen die Grundkonfiguration fest.</span>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
			<b>Gaestebuchtitel:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<input type="text" name="sitename" value="{SITENAME}" maxlength="255" size="40" />
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
			<b>Beschreibung:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<input type="text" name="description" value="{DESCRIPTION}" maxlength="255" size="40" />
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
			<b>Script-URL:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<input type="text" name="script_path" value="{SCRIPT_PATH}" maxlength="255" size="40" />
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
			<b>Deaktivieren:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<input type="radio" name="active" value="1" {ACTIVE_YES} /> Nein
			<input type="radio" name="active" value="0" {ACTIVE_NO} /> Ja<br />
			<span class="gensmall">Deaktiviert das Gaestebuch komplett. Anschliessend kann sich nur noch der Administrator anmelden.</span>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
			<b>Deaktivierungs-Nachricht:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<textarea name="disable_msg" rows="5" cols="30" style="width: 300px">{DISABLE_MSG}</textarea><br />
			<span class="gensmall">Nachricht die angezeigt wird, wenn das Gaestebuch deaktivert ist.</span>
		</td>
	</tr>
	<tr>
		<td class="row1" valign="top" width="22%" style="vertical-align: middle;">
			<b>Warnungen anzeigen:</b>
		</td>
		<td class="row1" valign="top" style="vertical-align: middle;">
			<input type="radio" name="show_warnings" value="1" {SHOW_WARNINGS_YES} /> Ja
			<input type="radio" name="show_warnings" value="0" {SHOW_WARNINGS_NO} /> Nein
			<br />
			<span class="gensmall">Deaktiviert, werden Warnungen der Software versteckt.</span>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
			<b>Login Link zeigen:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<input type="radio" name="admin_link" value="1" {ADMIN_LINK_YES} /> Ja
			<input type="radio" name="admin_link" value="2" {ADMIN_LINK_NO} /> Nein
			<br />
   			<span class="gensmall">Deaktiviert, kannst du den Administratoren Bereich nur noch ueber www.adresse.de/pfad/admin/ erreichen.</span>
		</td>
	</tr>
	<tr>
		<td class="row1" valign="top" width="22%" style="vertical-align: middle;">
			<b>Debug Info anzeigen:</b>
		</td>
		<td class="row1" valign="top" style="vertical-align: middle;">
			<input type="radio" name="debug_info" value="1" {DEBUG_INFO_YES} /> Ja
			<input type="radio" name="debug_info" value="0" {DEBUG_INFO_NO} /> Nein
			<br />
			<span class="gensmall">Zeigt eine kleine Debug-Info im Footer des Scripts an.</span>
		</td>
	</tr>
	<tr>
		<td class="row1" valign="top" width="22%" style="vertical-align: middle;">
			<b>Zeichensatz:</b>
		</td>
		<td class="row1" valign="top" style="vertical-align: middle;">
			<select name="charset" size="1">
			<!-- BEGIN charset -->
				<option value="{charset.CHARSET}"{charset.SELECTED}>{charset.CHARSET}</option>
			<!-- END charset -->
			</select><br />
			<span class="gensmall">Gibt den Zeichensatz an, der fuer das Gaestebuch verwendet wird.</span>
		</td>
	</tr>
	<tr>
		<td class="row1" valign="top" width="22%" style="vertical-align: middle;">
			<b>Sprache:</b>
		</td>
		<td class="row1" valign="top" style="vertical-align: middle;">
			<select name="language" size="1">
			<!-- BEGIN language -->
				<option value="{language.LANGUAGE}"{language.SELECTED}>{language.LANGUAGE_DESC}</option>
			<!-- END language -->
			</select><br />
			<span class="gensmall">Gibt den Zeichensatz an, der fuer das Gaestebuch verwendet wird.</span>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
			<b>Datumsformat:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<input type="text" name="default_dateformat" value="{DEFAULT_DATEFORMAT}" /><br />
			<span class="gensmall">Die Syntax ist identisch mit der PHP-Funktion <a href="http://php.net/date">date()</a>.</span>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
			<b>RSS Feed:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<input type="radio" name="newsfeed" value="0" {RSS_NO} /> Deaktivert
			<input type="radio" name="newsfeed" value="1" {RSS_YES} /> Aktiviert<br />
			<span class="gensmall">Legt fest, ob das RSS Feature aktivert ist.</span>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
			<b>RSS Limit:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<input type="text" name="rss_limit" value="{RSS_LIMIT}" size="4" maxlength="255" /><br />
			<span class="gensmall">Legt fest, wie viel der letzten Beiträge im Feed angezeigt werden sollen.</span>
		</td>
	</tr>

  <tr>
    <td class="row2" colspan="2" height="25px" style="vertical-align: middle;">&nbsp;

    </td>
  </tr>
  <tr>
    <th class="thHead" height="25px" colspan="2" style="vertical-align: middle;">
      <b>Neuen Eintrag schreiben</b>
    </th>

  </tr>
  <tr>
    <td class="row1" valign="top" colspan="2" style="vertical-align: middle;">
      <span class="gensmall">Diese Einstellungen gelten fuer das Schreiben eines neuen Eintrags.</span>
    </td>

  </tr>
	<tr>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<b>Eingabe der ICQ UIN:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<input type="radio" name="enable_icq" value="0" {ENABLE_ICQ_NO} /> Deaktivert
			<input type="radio" name="enable_icq" value="1" {ENABLE_ICQ_YES} /> Aktiviert<br />
			<span class="gensmall">Wenn Aktivert, können Besucher ihre ICQ Nummer eingeben.</span>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<b>Eingabe der Homepage:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<input type="radio" name="enable_www" value="0" {ENABLE_WWW_NO} /> Deaktivert
			<input type="radio" name="enable_www" value="1" {ENABLE_WWW_YES} /> Aktiviert<br />
			<span class="gensmall">Wenn Aktivert, können Besucher ihre Homepage Adresse eingeben.</span>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
			<b>Maximale Anzahl von Bildern:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<input type="text" name="limit_images" value="{LIMIT_IMAGES}" size="4" maxlength="255" /><br />
			<span class="gensmall">Legt fest, wie viele Bilder maximal in einem Beitrag verwendet werden duerfen. Gilt nur, wenn das <b>BBCode</b> Modul installiert ist.</span>
		</td>
	</tr>
  <tr>
    <td class="row1" valign="top" width="22%" style="vertical-align: middle;">
      <b>Beitrags-Freischaltung aktivieren:</b>
    </td>
    <td class="row1" valign="top" style="vertical-align: middle;">
			<input type="radio" name="moderated" value="0" {MODERATED_NO} /> Keine
			<input type="radio" name="moderated" value="1" {MODERATED_YES} /> Durch den Admin<br />
     			<span class="gensmall">Aktiviert, werden alle Beiträge deaktiviert gespeichert und müssen zuerst freigeschaltet werden.</span>
    </td>
  </tr>
<tr>
		<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
			<b>Danke eMail:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<input type="radio" name="success_email" value="0" {SUCCESS_EMAIL_NO}  />Deaktiviert
			<input type="radio" name="success_email" value="1" {SUCCESS_EMAIL_YES} /> Aktivieren
		</td>
	</tr>
  <tr>
    <td class="row1" valign="top" width="22%" style="vertical-align: middle;">
      <b>Danke eMail:</b>
    </td>

    <td class="row1" valign="top" style="vertical-align: middle;">
      <textarea name="success_email_text" rows="5" cols="30" style="width: 300px">{SUCCESS_EMAIL_TEXT}</textarea>
    </td>
  </tr>

	<tr>
		<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
			<b>Benachrichtung eMail:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<input type="radio" name="success_email_admin" value="0" {SUCCESS_EMAIL_ADMIN_NO}  />Deaktiviert
			<input type="radio" name="success_email_admin" value="1" {SUCCESS_EMAIL_ADMIN_YES}  /> Aktivieren
		</td>
	</tr>
  <tr>
    <td class="row1" valign="top" width="22%" style="vertical-align: middle;">
      <b>Benachrichtungs eMail:</b>
    </td>

    <td class="row1" valign="top" style="vertical-align: middle;">
      <textarea name="success_email_admin_text" rows="5" cols="30" style="width: 300px">{SUCCESS_EMAIL_ADMIN_TEXT}</textarea>
    </td>
  </tr>

	<tr>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<b>Benachrichtungs eMail versenden:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<input type="radio" name="success_email_admin_all" value="0" {SUCCESS_EMAIL_ADMIN_ALL_NO} /> Nur an den Administrator
			<input type="radio" name="success_email_admin_all" value="1" {SUCCESS_EMAIL_ADMIN_ALL_YES} /> An alle Moderatoren<br />
			<span class="gensmall">Gibt an ob die Benachrichtungs Email nur an den Hauptadmin, oder an alle Moderatoren versandt werden soll.</span>
		</td>
	</tr>

  <tr>

    <td class="row2" valign="top" width="22%" style="vertical-align: middle;">
      <b>Maximale Wortlänge:</b>
    </td>
    <td class="row2" valign="top" style="vertical-align: middle;">
      <input type="text" name="max_lenght" value="{MAX_LENGTH}" size="4" maxlength="10" />

      <span class="gensmall">Geben Sie 0 ein, wenn lange Wörter nicht gekürzt werden sollen. Gilt nur, wenn das Modul <b>textLimiter</b> installiert ist.</span>
    </td>
  </tr>


  <tr>
    <td class="row2" colspan="2" height="25px" style="vertical-align: middle;">&nbsp;

    </td>
  </tr>



  <tr>
    <th class="thHead" height="25px" colspan="2" style="vertical-align: middle;">
      <b>Vorhandene Gästebucheinträge</b>
    </th>

  </tr>

  <tr>
    <td class="row1" valign="top" colspan="2" style="vertical-align: middle;">
      <span class="gensmall">Diese Einstellungen gelten für die Ansicht der vorhandenen Gaestebucheintraege.</span>
    </td>
  </tr>
  <tr>
    <td class="row1" valign="top" width="22%" style="vertical-align: middle;">
      <b>Eintraege pro Seite:</b>
    </td>
    <td class="row1" valign="top" style="vertical-align: middle;">
      <input type="text" name="posts_site" value="{DEFAULT_LIMIT}" size="4" maxlength="10" />

      <span class="gensmall">Fuer keine Begrenzung 0 eingeben.</span>

    </td>
  </tr>

  <tr>
    <td class="row2" valign="top" width="22%" style="vertical-align: middle;">
      <b>Sortierungsmethode:</b>
    </td>
    <td class="row2" valign="top" style="vertical-align: middle;">
      <input type="radio" name="postorder" value="asc" {POSTORDER_ASC} /> Aeltere Eintraege zuerst zeigen
      <input type="radio" name="postorder" value="desc" {POSTORDER_DESC} /> Neuere Eintraege zuerst zeigen
    </td>

	</tr>

  <tr>
    <td class="row2" colspan="2" height="25px" style="vertical-align: middle;">&nbsp;

    </td>
  </tr>



  <tr>
    <th class="thHead" height="25px" colspan="2" style="vertical-align: middle;">
      <b>Email-Einstellungen</b>
    </th>

  </tr>

	<!-- SMTP -->
	<tr>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<b>Email-Methode:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<input type="radio" name="email_mode" value="1" {EMAIL_MAIL} /> PHP
			<input type="radio" name="email_mode" value="2" {EMAIL_SENDMAIL} /> sendmail
			<input type="radio" name="email_mode" value="3" {EMAIL_SMTP} /> SMTP-Server<br />
			<span class="gensmall">Gibt an welche Methode für den Versand der eMails genutzt wird.</span>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<b>Art der Emails:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<input type="radio" name="email_html" value="0" {EMAIL_HTML_NO} /> Plain Text
			<input type="radio" name="email_html" value="1" {EMAIL_HTML_YES} /> HTML<br />
			<span class="gensmall">Gibt an ob Emails im HTML Format, oder im Plain Text Format versendet werden sollen (Plain Text empfohlen).</span>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
			<b>Sendmail Pfad:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<input type="text" name="sendmail" value="{SENDMAIL}" size="25" maxlength="255" /><br />
			<span class="gensmall">Der Pfad zu sendmail, falls die Email Methode auf sendmail eingestellt ist.</span>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
			<b>Email Adresse des Administrators:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<input type="text" name="email_admin" value="{EMAIL_ADMIN}" size="25" maxlength="255" /><br />
			<span class="gensmall">Die eMail Adresse des Administrators (wird fuer den eMail versand genutzt).</span>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
			<b>SMTP-Server Addresse:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<input type="text" name="smtp_server" value="{SMTP_SERVER}" size="25" maxlength="255" /><br />
			<span class="gensmall">Die Adresse des SMTP-Servers.</span>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
			<b>SMTP Port:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<input type="text" name="smtp_port" value="{SMTP_PORT}" size="4" maxlength="255" /><br />
			<span class="gensmall">Wenn du dir nicht sicher bist, trage hier 25 ein.</span>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
			<b>SMTP Benutzername:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<input type="text" name="smtp_user" value="{SMTP_USER}" size="25" maxlength="255" /><br />
			<span class="gensmall">Gib nur dann einen Benutzernamen an, wenn der SMTP-Server dies benötigt.</span>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
			<b>SMTP Passwort:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<input type="password" name="smtp_pass" value="{SMTP_PASS}" size="25" maxlength="255" /><br />
			<span class="gensmall">Gib nur dann ein Passwort an, wenn der SMTP-Server dies benötigt.</span>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
			<b>SMTP HELO:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<input type="text" name="smtp_helo" value="{SMTP_HELO}" size="25" maxlength="255" /><br />
			<span class="gensmall">Der Text des SMTP Kommandos HELO, der zum SMTP-Server geschickt wird.</span>
		</td>
	</tr>
  <tr>
    <td class="row2" colspan="2" height="25px" style="vertical-align: middle;">&nbsp;

    </td>
  </tr>
	<tr>
		<td class="row1" valign="top" width="22%" style="vertical-align: middle;">
			&nbsp;
		</td>
		<td class="row1" valign="top" style="vertical-align: middle;">
			<input type="submit" name="submit" value="Speichern" />
			<input type="reset" name="reset" value="Zuruecksetzen"    />
		</td>
	</tr>
</table><br />
</form>

