<div align="center">
	<h3>Benutzer Verwaltung</h3>
	<p>Hier kannst du alle Moderatoren einsehen und bearbeiten.</p>
</div>


<table border="0" cellpadding="3" cellspacing="1" align="center" width="80%" class="headline">
	<tr>
		<th class="thHead" height="25" colspan="6">
			<b>Benutzer Verwaltung</b>
		</th>
	</tr>
	<tr>
		<td class="row1" valign="top" colspan="6">
			<span class="gensmall">Hier können sie die Moderatoren des Gästebuches verwalten.</span>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" align="center">
			<b>Benutzername</b>
		</td>
		<td class="row2" valign="top" align="center">
			<b>Email</b>
		</td>
		<td class="row2" valign="top" align="center">
			<b>Benutzerlevel</b>
		</td>
		<td class="row2" valign="top" align="center">
			<b>Status</b>
		</td>
		<td class="row2" valign="top" align="center">
			<b>Bearbeiten</b>
		</td>
		<td class="row2" valign="top" align="center">
			<b>Entfernen</b>
		</td>
	</tr>
<!-- BEGIN users -->
	<tr>
		<td class="row1" valign="top" align="center">
			{users.USERNAME}
		</td>
		<td class="row1" valign="top" align="center">
			{users.EMAIL}
		</td>
		<td class="row1" valign="top">
			<div align="center">
				{users.LEVEL}
			</div>
		</td>
		<td class="row1" valign="top" align="center">
			{users.ONLINE}
		</td>
		<td class="row1" valign="top" align="center">
			<a href="users.php?mode=edit&amp;id={users.ID}"><img src="{ROOT_DIR}admin/style/images/german/edit.gif" alt="Bearbeiten" border="0" /></a>
		</td>
		<td class="row2" valign="top" align="center">
			<a href="users.php?mode=delete&amp;id={users.ID}"><img src="{ROOT_DIR}admin/style/images/german/delete.gif" alt="Löschen" border="0" /></a>
		</td>
	</tr>
<!-- END users -->
</table>

<div align="center">
	<h3>Neuen Benuter anlegen</h3>
	<p>Hier kannst du einen neuen Benutzer anlegen.</p>
</div>

<form action="users.php?mode=add" method="post">
<table border="0" cellpadding="3" cellspacing="1" align="center" width="80%" class="headline">
	<tr>
		<th class="thHead" colspan="2">
			<b>Neuen Benuter anlegen</b>
		</th>
	</tr>
	<tr>
		<td class="row1" valign="top" width="22%" style="vertical-align: middle;">
			<b>Benutzername:</b>
		</td>
		<td class="row1" valign="top" style="vertical-align: middle;">

			<input type="text" name="username" maxlength="255" size="20" />
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
			<b>eMail Adresse:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">

			<input type="text" name="email" maxlength="255" size="20" />
		</td>
	</tr>
	<tr>
		<td class="row1" valign="top" width="22%" style="vertical-align: middle;">
			<b>Passwort:</b>
		</td>
		<td class="row1" valign="top" style="vertical-align: middle;">

			<input type="text" name="password" maxlength="255" size="20" />
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" width="22%" style="vertical-align: middle;">
			<b>Benutzerlevel:</b>
		</td>
		<td class="row2" valign="top" style="vertical-align: middle;">
			<select name="auth_level" style="width:150px;">
				<option value="{USER_REGISTRED}">Registrierter Benutzer</option>
				<option value="{USER_MODERATOR}">Moderator</option>
				<option value="{USER_ADMINISTRATOR}">Administrrator</option>
			</select>
		</td>
	</tr>
	<tr>
		<td class="row1" valign="top" width="22%" style="vertical-align: middle;">
			<b>Benutzer anlegen:</b>
		</td>
		<td class="row1" valign="top" style="vertical-align: middle;">

			<input type="submit" name="submit" value="Benutzer anlegen" />
		</td>
	</tr>
</table>
</form>