<div align="center">
	<h3>Smilie Verwaltung</h3>
	<p>Hier kannst du die installierten Smilies einsehen und bearbeiten.</p>
</div>

<table border="0" cellpadding="3" cellspacing="1" style="margin-left: auto; margin-right: auto; width: 80%;" class="headline">
	<tr>
		<th class="thHead" height="25" colspan="6">
			<b>Badword Verwaltung</b>
		</th>
	</tr>
	<tr>
		<td class="row1" valign="top" colspan="6">
			<span class="gensmall">Hier können sie die Smilies des Gästebuches verwalten.</span>
		</td>
	</tr>
	<tr>
		<td class="row2" valign="top" align="center">
			<b>ID</b>
		</td>
		<td class="row2" valign="top" align="center">
			<b>Name</b>
		</td>
		<td class="row2" valign="top" align="center">
			<b>Ersetzt druch</b>
		</td>
		<td class="row2" valign="top" align="center">
			<b>Bearbeiten</b>
		</td>
		<td class="row2" valign="top" align="center">
			<b>Löschen</b>
		</td>
	</tr>
<!-- BEGIN badwords -->
	<tr>
		<td class="row1" valign="top">
			<div align="center">
				{badwords.ID}
			</div>
		</td>
		<td class="row1" valign="top">
			<div align="center">
				{badwords.NAME}
			</div>
		</td>
		<td class="row1" valign="top">
			<div align="center">
				{badwords.REPLACEMENT}
			</div>
		</td>
		<td class="row1" valign="top">
			<div align="center">
				<a href="module.php?module=badwords&amp;mode=edit&amp;badwords={badwords.ID}">Bearbeiten</a>
			</div>
		</td>
		<td class="row1" valign="top">
			<div align="center">
				<a href="module.php?module=badwords&amp;mode=delete&amp;badwords={badwords.ID}">Löschen</a>
			</div>
		</td>
	</tr>
<!-- END badwords -->
</table>

<br /><br  />
