<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
	<title>{SITENAME} :: {PAGE_TITLE}</title>
	<link rel="stylesheet" type="text/css" href="./styles/soscy/soscy.css" />
</head>

<body bgcolor="#F8F8F8">
	<table border="0" cellpadding="3" cellspacing="1" align="center" width="80%" class="headline">
		<tr>
			<td class="row2" valign="top" width="22%" style="text-align: center;"><b>Funktion</b></td>
			<td class="row2" valign="top" width="22%" style="text-align: center;"><b>Code</b></td>
		</tr>
		<tr>
			<td class="row2" valign="top" width="22%" style="text-align: center;">Fett</td>
			<td class="row2" valign="top" width="22%" style="text-align: center;">[b][/b]</td>
		</tr>
		<tr>
			<td class="row2" valign="top" width="22%" style="text-align: center;">Unterstrichen</td>
			<td class="row2" valign="top" width="22%" style="text-align: center;">[u][/u]</td>
		</tr>
		<tr>
			<td class="row2" valign="top" width="22%" style="text-align: center;">Grafik einbinden</td>
			<td class="row2" valign="top" width="22%" style="text-align: center;">[img][/img]</td>
		</tr>
		<tr>
			<td class="row2" valign="top" width="22%" style="text-align: center;">Zitat</td>
			<td class="row2" valign="top" width="22%" style="text-align: center;">[quote][/quote]</td>
		</tr>
		<tr>
			<td class="row2" valign="top" width="22%" style="text-align: center;">URL</td>
			<td class="row2" valign="top" width="22%" style="text-align: center;">[url][/url]</td>
		</tr>
		<tr>
			<td class="row2" valign="top" width="22%" style="text-align: center;">Liste</td>
			<td class="row2" valign="top" width="22%" style="text-align: center;">[list][/list]</td>
		</tr>
		<tr>
			<td class="row2" valign="top" width="22%" style="text-align: center;">Listenpunkt</td>
			<td class="row2" valign="top" width="22%" style="text-align: center;">[*]</td>
		</tr>
	</table>
	<div style="text-align: center;">
		<br /><a href="#" onClick="javascript:window.close()">Fenster schließen</a>	
	</div>
</body>
</html>
