<?xml version="1.0" encoding="{CHARSET}" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{DIRECTION}" lang="{USER_LANG}" xml:lang="{USER_LANG}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
	<meta http-equiv="Content-Language" content="{USER_LANG}" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<!-- BEGIN meta_tags -->
	<meta name="{meta_tags.NAME}" content="{meta_tags.CONTENT}" />
	<!-- END meta_tags -->
	<title>{SITENAME} :: {PAGE_TITLE}</title>
	<link rel="stylesheet" type="text/css" href="{STYLE_THEME}" />
	<!-- BEGIN newsfeed -->
	<link rel="alternate" type="application/rss+xml" title="Die neusten Einträge als RSS Feed" href="{U_NEWSFEED}" />
	<!-- END newsfeed -->
</head>

<body>

<div style="text-align: center;">
	<h1>{SITENAME}</h1>
	<p>{SITE_DESC}</p>
</div>