<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="{DIR}" lang="{LANG}" xml:lang="{XML_LANG}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
	<meta http-equiv="content-language" content="{LANG}" />
	<meta http-equiv="content-style-type" content="text/css" />
	<!-- BEGIN meta_tags -->
	<meta name="{meta_tags.NAME}" content="{meta_tags.CONTENT}" />
	<!-- END meta_tags -->
	<title>{SITENAME} :: {PAGE_TITLE}</title>
	<link rel="stylesheet" type="text/css" href="{TEMPLATE_CSS}" />
	<!-- BEGIN newsfeed -->
	<link rel="alternate" type="application/rss+xml" title="Die neusten Einträge als RSS Feed" href="{U_NEWSFEED}" />
	<!-- END newsfeed -->
</head>

<body bgcolor="#F8F8F8">
	<table border="0" cellpadding="3" cellspacing="1" align="center" width="80%" class="headline">
		<tr>
			<td class="row2" valign="top" width="22%" style="text-align: center;"><b>Smilie</b></td>
			<td class="row2" valign="top" width="22%" style="text-align: center;"><b>Code</b></td>
		</tr>
		<!-- BEGIN smilies -->
		<tr>
			<td class="row2" valign="top" width="22%" style="text-align: center;"><img src="{smilies.URL}" alt="{smilies.NAME}" /></td>
			<td class="row2" valign="top" width="22%" style="text-align: center;">{smilies.CODE}</td>
		</tr>
		<!-- END smilies -->
	</table>
	<div style="text-align: center;">
		<br /><a href="#" onClick="javascript:window.close()">Fenster schließen</a>
	</div>
</body>
</html>
